<%= link_to "Create a Paycheck", new_paycheck_path, :class => "btn btn-success" %>

<h3>Setup:</h3>
<p>
  <%= link_to "Employees", employees_path %>
</p>
<p>
  <%= link_to "Schedules", schedules_path %>
</p>
